html, body, body > *{ padding: 0; margin: 0; width: 100vw;}
h1, h2{
    color: teal;
    font-size: 2em;
}
ul, li, a{
    list-style: none;
    color: black;
    text-decoration: none;
}
#message{
    display: none;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
.valid{
    color: green;
}
.valid:before{
    position: relative;
    left: -35px;
    content: "&#10004;";
}
.invalid{
    color: red;
}
.invalid:before{
    position: relative;
    left: -35px;
    content: "&#10006;";
}